body{
    /* background-color: #c77d7d; */
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}



.container-fluid {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
  }
  
  
#gamesHome{
    height: 100vh;
    /* background-color: red; */
}   

.gamesBanner{
    height:60vh;
    width: 100%;
    background-color: var(--banner-color-one);
    display: flex;  
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    border-radius: var(--rounded-edge);

}

.games-img-block{
    height: 60%;
    width: 90%;
    background-image: url("../images/spaceShip.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* background-color: #ec8686;    */
   
}

.banner-text{
    height: 40%;
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: start;
    /* background-color: #4bb34b; */
    text-align: center;
}

.banner-text h1{
    font-size: 2rem;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

#gamesHome h2{
    font-size: 1.4rem;
    margin-top: 20px;
    color: var(--font-color-two);
    text-align: center;
}
.scroll-down{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 5px solid var(--banner-color-one);
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.scroll-down i{
    font-size: 2rem;
    color: var(--banner-color-one);
}

#howTo{
    height: 100vh;    
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#howTo h2{
    font-size: 1.4rem;
    margin-top: 10px;
    color: var(--font-color-two);
    text-align: center;
    font-weight: 600;
}

#howTo .howTo-grid{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr); 
    grid-gap: 6px;
    margin-top: 10px;
    margin-bottom: 20px;
   
}

.howTo-grid .howTo-grid-card{     
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border-radius: var(--rounded-edge);
    margin-top: 10px;
}

.howTo-grid .howTo-grid-img{
    height: 70%;
    width:100%;    
    border-top-left-radius: var(--rounded-edge);
    border-top-right-radius: var(--rounded-edge);
}

.howTo-grid-img .img1{
    height: 100%;
    width: 100%;
    background-image: url("../images/find-game.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius:var(--rounded-edge);

}
.howTo-grid-img .img2{
    height: 100%;
    width: 100%;
    background-image: url("../images/play-now.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius:var(--rounded-edge);

}
.howTo-grid-img .img3{
    height: 100%;
    width: 100%;
    background-image: url("../images/pickObject.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius:var(--rounded-edge);
}
.howTo-grid-img .img4{
    height: 100%;
    width: 100%;
    background-image: url("../images/audio.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius:var(--rounded-edge);
}
.howTo-grid-img .img5{
    height: 100%;
    width: 100%;
    background-image: url("../images/dragLetters.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius:var(--rounded-edge);
}
.howTo-grid-img .img6{
    height: 100%;
    width: 100%;
    background-image: url("../images/earn-rewards.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius:var(--rounded-edge);
}

.howTo-grid .howTo-grid-txtBox{
    height: 30%;
    width: 100%;
 }


.howTo-grid .howTo-grid-txtBox h3{
    font-size: 1rem;
    margin-top: 5px;
    color: var(--font-color-two);
    text-align: center;
    font-weight: 600;
}

.howTo-grid .howTo-grid-txtBox p{
    font-size: 0.68rem;
    margin-top: 2.5px;
    color: var(--font-color-two);
    text-align: center;
    font-weight: 500;
    margin-left: 5px;
    margin-right: 5px;
}

#bannerGraphic{
    height: 100vh;
    width: 100%;  }

.banner-sloth{
    height: 70%;
    width: 100%;
    background-color: var(--banner-color-two);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: var(--rounded-edge);
    margin-top: 100px;


}
.banner-sloth .banner-sloth-img{
    height: 60%;
    width: 100%;
    margin-top: 30px;
    background-image: url("../images/sloth-Playing-Game.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* background-color: #ec8686;    */
   
}

.banner-sloth .banner-text{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    
  
}

.banner-sloth .banner-text h3{
    font-size: 1.9rem;
    margin-top: 5px;
    color: var(--font-color-one);
    text-align: center;
    font-weight: 400;
    margin-left: 5px;
    margin-right: 5px;
}

.scroll-down-banner{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-top: 30px;
    height: 70px;
    width: 100%;
}

.scroll-down-two{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 3px solid var(--banner-color-one);
}
.scroll-down-banner .scroll-down{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 5px solid var(--banner-color-two); 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;

}
.scroll-down-banner .scroll-down-two i{
    font-size: 1.52rem;
    color: var(--banner-color-one);
}
.scroll-down-banner h4{
    font-size: 1.5rem;
    color: var(--banner-color-one);
    text-align: center;
    font-weight: 500;
    margin-left: 5px;
    margin-right: 5px;
}

#gamesList{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#gamesList .title{
    height: 10%;
    width: 100%;
    /* background-color: chartreuse; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

#gamesList .title h3{
    font-size: 1.9rem;
    margin-top: 5px;
    color: var(--font-color-two);
    text-align: center;
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px;
}

.games-list{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr); 
    grid-gap: 10px;
    margin-top: 10px; 
    margin-bottom: 10px;
}
.games-list .gameList-card{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border-radius: var(--rounded-edge);
    
}

.games-list .gameList-card .game-card-img-block{
    height: 60%;
    width: 100%;    
    border-radius: var(--rounded-edge);    
}

.game-card-image{
    height: 100%;
    width: 100%;
    
}

.img1{
    background-image: url("../images/Consellations.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius:var(--rounded-edge);
    display: block;
    height: 100%;
    width: 100%;
}
.img2{
    background-image: url("../images/Little-dinosaur.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius:var(--rounded-edge);
    display: block;
    height: 100%;
    width: 100%;
}
.img3{
    background-image: url("../images/aliens.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius:var(--rounded-edge);
    display: block;
    height: 100%;
    width: 100%;
}
.img4{
    background-image: url("../images/Mermaid.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius:var(--rounded-edge);
    display: block;
    height: 100%;
    width: 100%;
}
.img5{
    background-image: url("../images/Astronaut.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius:var(--rounded-edge);
    display: block;
    height: 100%;
    width: 100%;
}
.img6{
    background-image: url("../images/Cowboys.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius:var(--rounded-edge);
    display: block;
    height: 100%;
    width: 100%;
}
.img7{
    background-image: url("../images/Bedroom.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius:var(--rounded-edge);
    display: block;
    height: 100%;
    width: 100%;
}
.img8{
    background-image: url("../images/beach.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius:var(--rounded-edge);
    display: block;
    height: 100%;
    width: 100%;
}
.img9{
    background-image: url("../images/imagination.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius:var(--rounded-edge);
    display: block;
    height: 100%;
    width: 100%;
}
.img10{
    background-image: url("../images/savethebees.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius:var(--rounded-edge);
    display: block;
    height: 100%;
    width: 100%;
}
.img11{
    background-image: url("../images/kitchen-fun.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius:var(--rounded-edge);
    display: block;
    height: 100%;
    width: 100%;
}
.img12{
    background-image: url("../images/animal-Buddies.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius:var(--rounded-edge);
    display: block;
    height: 100%;
    width: 100%;
}
.game-card-txt{
    height: 50%;
    width: 100%; 
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 2px;
      
}
.game-card-txt h4{
    font-size: 1rem;
    color: var(--font-color-two);
    font-weight: 600;
    margin-top: 3px;
}
.game-card-txt p{
    font-size: .7rem;
    color: var(--font-color-two);
}

#kidControl{
    height: 100vh;
    width: 100%;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#kidControl .full-length-block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 150px;
    width: 100%;
    background-color: var(--banner-color-two);
    text-align: center;
}
#kidControl .full-length-block h1{
    font-size: 2rem;
    color: var(--font-color-one);
    font-weight: 500;
    margin-top: 20px;
}
#kidControl .full-length-block p{
    font-size: 1.2rem;
    color: var(--font-color-one);
    font-weight: 400;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.wavePurple{
    width: 100%;
    height: 100px;
    background-image: url("../images/wavePurple.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}


.play-their-way{
    height:70vh;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    text-align: center;
   

}
.img-block1{
    height: 60%;
    width: 100%;
    background-image: url("../images/laptop.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;   
}

.play-their-way .play-their-way-text{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;   
}

.play-their-way .play-their-way-text h2{
    font-size: 2rem;
    color: var(--font-color-two);
    font-weight: 600;
    margin-top: 20px;
}
.play-their-way .play-their-way-text p{
    font-size: 1.5rem;
    color: var(--font-color-two);
    font-weight: 400;
    margin-top: 0;
}
.play-their-way .play-their-way-text .startPlayingBtn{
    height:50px;
    width: 250px;
    background-color: var(--banner-color-two);
    border-radius: var(--rounded-edge);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: var(--font-color-one);
    font-size: 1.2rem;
    font-weight: 500;
}
#kidControlTwo{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.beeRewardBlock{
    height:70vh;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    text-align: center;
   
}
.beeReward-img-block{
    height: 60%;
    width: 100%;
    background-image: url("../images/bees.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;   
}
.beeReward-text{
    height: 40%;
    width: 90%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 10px; 

}
.beeReward-text h2{
    font-size: 2rem;
    color: var(--font-color-two);
    font-weight: 600;
    margin-top: 20px;
}
.beeReward-text p{
    font-size: 1.5rem;
    color: var(--font-color-two);
    font-weight: 300;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.rewardsPageBtn{
    height:50px;
    width: 250px;
    background-color: var(--banner-color-one);
    border-radius: var(--rounded-edge);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: var(--font-color-one);
    font-size: 1.2rem;
    font-weight: 500;
}
.wavePurpleUp{
    width: 100%;
    height: 100px;
    background-image: url("../images/wavePurpleUp.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.full-length-blockTwo{
    height: 100px;
    width: 100%;
    background-color: var(--banner-color-two);
}
.full-length-footer{
    height:50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #4E9DD7;
  }
  .full-length-footer p{
    color: var(--font-color-one);
    font-size: 1rem;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }

@media(min-width:768px){
    .gamesBanner .games-img-block{
        margin-top: 50px;
    }    
    .gamesBanner .banner-text{
        margin-top: 20px;
    }    
    #gamesHome h2{
        margin-top: 30px;
    }
    .scroll-down{
        margin-top:30px;
    }
    .wavePurple{
        display: none;
    }
    .wavePurpleUp{
        display: none;
    }

    #howTo .howTo-grid{
        grid-gap:5px;
      
        
    }
   
    .howTo-grid .howTo-grid-txtBox h3{
        font-size: 1.25rem;
    }
    .howTo-grid .howTo-grid-txtBox p{
        font-size: .8rem;
    }
    
    .banner-sloth{       
        margin-top: 100px;
    }
    .banner-sloth .banner-text h3{
        font-size: 2rem;
    }
}
@media(min-width:1024px){
    .gamesBanner{
        flex-direction: row-reverse;
    }
    .gamesBanner .games-img-block{
        height: 100%;
        width: 50%;
        margin-top: 0;
    }
    .gamesBanner .banner-text{
        height: 100%;
        width: 50%;       
        align-items: center;
        text-align: left;
    }
    #gamesHome h2{
        font-size: 1.8rem;
    }
    #howTo h2{
        font-size: 1.8rem;
    
    }
    #howTo .container-fluid{
        width:95%;
    }
    #howTo .howTo-grid{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr); 
        grid-gap: 10px;
    }

    .games-list{
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr); 
        grid-gap: 10px;
    }
    .game-card-img-block{
        height: 50%;
    }
    #kidControl {
        /* background-color: aqua; */
        height:80vh;
    }
    .banner-sloth{
        flex-direction: row-reverse;
        height: 60%;
        width: 95%;
    }
    .banner-sloth .banner-sloth-img{
        height: 100%;
        width: 40%;
        margin-top: 0;
    }
    .banner-sloth .banner-text{
        height: 100%;
        width: 50%;
        margin-top: 0;        
        justify-content: center;
        /* background-color: bisque; */
    }
    .banner-sloth .banner-text h3{
        font-size: 2.3rem;
        text-align: left;
    }
    .play-their-way{
        flex-direction: row-reverse;
        /* background-color: purple; */
        height:60vh;
      
    }
    .play-their-way .img-block1{
        height: 100%;
        width: 50%;
    }
    .play-their-way .play-their-way-text{
        height: 100%;
        width: 50%;
        margin-top: 30%;
        margin-left: 30px;
        justify-content: start;
        align-items: start;
        text-align: left;
    }
    .play-their-way .play-their-way-text h2{
        font-size: 2.6rem;
        margin-left: 20px;
    }
    .play-their-way .play-their-way-text p{
        font-size: 1.75rem;
        margin-left: 20px;
    }
    .play-their-way .play-their-way-text .startPlayingBtn{
        margin-left: 20px;
    }
    #kidControlTwo{
        height: 100vh;
        /* background-color: antiquewhite; */
    }
    .beeRewardBlock{
        flex-direction: row;
        height: 60vh;
        /* background-color: aqua; */
        margin-top: 0;
    }
    .beeRewardBlock .beeReward-img-block{
        height: 100%;
        width: 50%;
        margin-left: 30px;
    }
    .beeRewardBlock .beeReward-text{
        height: 100%;
        width: 50%;
        margin-top: 30%;       
        justify-content: start;
        align-items: end;
        text-align: right;
        margin-right: 30px;
    }
    .beeRewardBlock .beeReward-text h2{
        font-size: 2.6rem;
        margin-right: 20px;
    }
    .beeRewardBlock .beeReward-text p{
        font-size: 1.75rem;
        margin-right: 20px;
    }
    .beeRewardBlock .beeReward-text .rewardsPageBtn{
        margin-right: 20px;
    }
}
@media(min-width:1440px){
    .gamesBanner{
        height: 60vh;
    }
    .gamesBanner .games-img-block{
        height: 100%;
        width: 40%;
        margin-top: 0;
    }
    .gamesBanner .banner-text{
        height: 100%;
        width: 50%;       
        text-align: left;
        margin-left: 40px;
    }
    .gamesBanner .banner-text h1{
        font-size: 2.3rem;
    }
    #gamesHome h2{
        font-size: 2rem;
        margin-top: 40px;
    }
    .scroll-down{
        margin-top: 30px;
    }
   
}

@media(min-width:1920px){
    #gamesHome .gamesBanner{
        width:95%;
    }
    #gamesList .container-fluid{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
          
    }
    .games-list{
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr); 
        grid-gap: 10px;
        width: 95%;
    }
    #kidControl{
        height: 100vh;
        
    }
    #kidControl .play-their-way{
        height: 90vh;
        width: 90%;
        /* background-color: aqua; */
        flex-direction: row-reverse;
    }
    .play-their-way .img-block1{
        height: 100%;
        width: 40%;
    }
    .play-their-way .play-their-way-text{
        height: 100%;
        width: 50%;
        margin-top: 30%;
        margin-left: 60px;
        justify-content: start;
        align-items: start;
        text-align: left;
    }
    #kidControlTwo{
        height: 100vh;
        
    }
    #kidControlTwo .beeRewardBlock{
        height: 90vh;
        width: 90%;
        /* background-color: aqua; */
        flex-direction: row;
    }
    .beeRewardBlock .beeReward-img-block{
        height: 100%;
        width: 40%;
        margin-left: 60px;
    }
    .beeRewardBlock .beeReward-text{
        height: 100%;
        width: 50%;
        margin-top: 30%;       
        justify-content: start;
        align-items: end;
        text-align: right;
        margin-right: 60px;
    }
}