

section#home{
    /* background-color: rgb(160, 72, 72); */
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;    
    flex-direction: column;    
  }

  .banner-home{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: var(--banner-color-one);
    margin-top: 80px;
  }
  .banner-home-image-block{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: #2e68aa; */
  
  }
  .banner-home-image-block .banner-image{
    background-image: url('../images/castle.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
    width: 100%;

  }
  .home-banner-text{
    height: 35%;
    width: 95%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    /* background-color: #4E9DD7; */
    margin-top: 10px;
  }

  .home-banner-text h1{
    font-size:1.5rem;
    color: var(--font-color-one);
    text-align: center;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 0;
    letter-spacing: 1px;
  
  }
  .home-banner-text p{
    font-size: 1rem;
    color: var(--font-color-one);
    text-align: center;
    font-weight: 300;
    margin-top: 10px;

  }
.startLearningBtn{
display: none;
}


#home h3{
  font-size: 1.2rem;
  color: var(--font-color-one);
  text-align: center;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}


.game-Block{
  height: 30vh;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr); 
  /* background-color: #4E9DD7; */
  
 
}
.game-Block .card{
  height: 100px;
  width: 100px;
  place-self: center;
  background-color: transparent;
}

.game-Block .card:nth-child(1) {
  background-image: url("../images/Consellations.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.game-Block .card:nth-child(2) {
  background-image: url("../images/kitchen-fun.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.game-Block .card:nth-child(3) {
  background-image: url("../images/imagination.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.game-Block .card:nth-child(4) {
  background-image: url("../images/beach.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.game-Block .card:nth-child(5) {
  background-image: url("../images/animal-Buddies.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.game-Block .card:nth-child(6) {
  background-image: url("../images/Little-dinosaur.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.start-playing-now-btn{
  height: 50px;
  width: 250px;
  background-color: var(--banner-color-one);
  border-radius: var(--rounded-edge);
  border: none;
  outline: none;
  color: var(--font-color-one);
  font-size: 1.2rem;
  margin-top: 25px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;

}

/* section 2  */

#talkingPoints{
  height: 190vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#talkingPoints .talkingPoints-banner {
  background-color: var(--banner-color-two);
  height: 50vh;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;

}

#talkingPoints .talkingPoints-text {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

#talkingPoints .talkingPoints-banner .img-block {
  height: 300px;
  width: 80%;
  display: flex; 
  background-image: url('../images/imagination-book.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position:  center;
  object-fit: contain;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-bottom: 0;

}



#talkingPoints .talkingPoints-text h2 {
  font-size: 20px;
  color: var(--font-color-one);
  text-align: center;
  font-weight:200;
  margin-top: 0;
  margin-bottom: 20px;
}

#talkingPoints h3 {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  width: 90%;
  font-weight: 500;
}

.talkingPoints-cards {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;

}

.talkingPoints-card {
  height: 350px;
  width: 90%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.talkingPoints-card h4 {
  font-size: 24px;
  color: var(--font-color-two);
  text-align: center;
  font-weight: 600;
  margin-top: 10px;

}

.talkingPoints-card p {
  font-size: 16px;
  color: var(--font-color-two);
  text-align: center;
  font-weight: 400;
  margin-top: 10px;

}

.talkingPoint-image {
  height: 200px;
  width: 200px;
  background-color: #4E9DD7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

}

.talkingPoint-image .img-block1 {
  background-image: url('../images/monster-M.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.talkingPoint-image .img-block2 {
  background-image: url('../images/babydino.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.talkingPoint-image .img-block3 {
  background-image: url('../images/trophy.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.getStarted {
  height: 50px;
  width: 250px;
  background-color: var(--banner-color-two);
  border-radius: var(--rounded-edge);
  border: none;
  outline: none;
  color: var(--font-color-one);
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}
/* Section 3 Learning Points  */
#learningPoints {
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hero {
  height: 100%;
  width: 100%;
  margin-top: 10px;
  background-image: url('../images/boy-reading.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.25));
}

/* Section 4 Vocal Points */
#vocalPointsOne {
  height: 100vh;
  width: 100%;   
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.vocal-points-card-one{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50%;
  width: 100%;
  
}
.vocal-points-card-one .img1{
  height: 60%;
  width: 100%;
  background-image: url('../images/sloth-blob.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  /* filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.25)); */
}

.vocal-points-card-one .text-block{
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}
.vocal-points-card-one .text-block h2{
  font-size: 21px;
  color: var(--font-color-two);
  text-align: center;
  font-weight: 600;
  margin-top: 0;
}
.vocal-points-card-one .text-block p{
  font-size: 16px;
  color: var(--font-color-two);
  text-align: center;
  font-weight: 400;
  margin-top: 0;
}

.vocal-points-card-two{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50%;
  width: 100%;
  
}
.vocal-points-card-two .img2{
  height: 60%;
  width: 100%;
  background-image: url('../images/alphabet-blob.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  /* filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.25)); */
}
#vocalPointsTwo .vocal-points-card-one .img3{
  height: 60%;
  width: 100%;
  background-image: url('../images/awardsBlob.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  /* filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.25)); */
}
.vocal-points-card-two .img4{
  height: 60%;
  width: 100%;
  background-image: url('../images/octopus-blob.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  /* filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.25)); */
}

.vocal-points-card-two .text-block{
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}
.vocal-points-card-two .text-block h2{
  font-size: 21px;
  color: var(--font-color-two);
  text-align: center;
  font-weight: 600;
  margin-top: 0;
}
.vocal-points-card-two .text-block p{
  font-size: 16px;
  color: var(--font-color-two);
  text-align: center;
  font-weight: 400;
  margin-top: 0;
}
/* Footer */
/* Footer Section */
.full-length-footer{
  height:50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #4E9DD7;

}
.full-length-footer p{
  color: var(--font-color-one);
  font-size: 1rem;
  font-weight: 500;
  margin-top: 10px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
/* Error Page CSS  */
section#error{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: #4ed7a2; */

}
#error .errorPageBlock{
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  /* background-color: #d7854e; */
  margin-top: 30%;

}
#error .img-block-error{
  height: 60%;
  width: 100%;
  display: flex;
  background-image: url('../images/under-construction.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

}
#error .text-block{
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: #5ed74e; */
  margin-top: 10px;
  text-align: center;
}
#error .text-block h1{
  font-size: 2rem;
  color: var(--font-color-two);
  font-weight: 600;
  margin-top: 10px;
}
#error .text-block p{
  font-size: 1.25rem;
  color: var(--font-color-two);
  font-weight: 400;
  margin-top: 10px;
}

#accounts{
  height: 100vh;
  width: 100%;
 
  /* background-color: aqua; */
}
#accounts .container-fluid{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: aqua; */
}
#accounts .container-fluid .text-notification{
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: start;
  align-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: rgb(182, 218, 23); */

}
#accounts .container-fluid .hello-block{
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: rgb(156, 23, 218);  */

}
#accounts .container-fluid .hello-block h1{
  font-size: 3rem;
  color: black;
  font-weight: 600;
  margin-top: 10px;
}
#accounts .container-fluid h2{
  font-size: 2rem;
  color: black;
  font-weight: 600;
  margin-top: 10px;
}
#accounts .container-fluid .text-notification .logout-btn{
  height: 50px;
  width: 250px;
  background-color: red;
  border-radius: var(--rounded-edge);
  border: none;
  outline: none;
  color: var(--font-color-one);
  font-size: 1.2rem;
  margin-top: 25px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}

#accounts .viewGame{
  margin-top:30px;
}
#accounts .viewPoints{
  margin-top:30px;
  text-align: left;
}
/* Slightly bigger Screen Tablet 768px   */
@media(min-width:768px){
  #home{
    height: 80vh;   
  }
  .banner-home{
    height: 60vh;
    width: 100%;
   
  }
  .banner-home .banner-home-image-block{
    height: 60%;
    width: 100%;
    /* background-color: #2e68aa; */
  }
  .banner-home .home-banner-text{
    height: 30%;
    width: 100%;
    background-color: #4E9DD7;
  }
  .home-banner-text .startLearningBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50px;
    width: 250px;
    background-color: var(--font-color-one);
    border-radius: var(--rounded-edge);
    border: none;
    outline: none;
    color: var(--banner-color-one);
    font-size: 1.2rem;
    text-decoration: none;
   
  }
  .game-Block{
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(1,1fr);
    /* background-color: red; */
    height:15%;
    
  }
  .game-Block .card{
    place-self: center;
    height: 110px;
    width: 110px;
  }
  #talkingPoints{
    height: 90vh;
    
  }
  #talkingPoints .talkingPoints-banner{
    height: 40vh;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
 #talkingPoints .talkingPoints-banner .talkingPoints-text{
   height: 100%;
   width: 80%;
  justify-content: center;
  /* background-color: white; */
 }
 #talkingPoints .talkingPoints-banner .talkingPoints-text h2{
   font-size: 25px;
   text-align: left;
 }
  #talkingPoints .talkingPoints-cards{
    flex-direction: row;
    

  }
  .talkingPoints-card {
  
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
  height: 90%;
  }
  .talkingPoint-image{
    height: 125px;
    width: 125px;
  }
  .talkingPoints-card h4{
    font-size: 20px;
    text-align: left;
  }
  .talkingPoints-card p{
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
  }
  .getStarted{
    margin-top: 25px;
  }
  #learningPoints{
    height: 60vh;
   
  }
  .hero{
    margin-top: 0;
  }
  #vocalPointsOne{
    height: 80vh;
   
    
   
  }
  .vocal-points-card-one{
    height: 50%;
    width: 90%;
    flex-direction: row;    

  }
  .vocal-points-card-one .img1{
    height:100%;
    width: 60%;
    background-size: contain;
    
    
  }
  .vocal-points-card-one .text-block{
    height: 100%;
    width: 50%;   
   
   
    
  }
  .vocal-points-card-one .text-block h2{
    font-size: 25px;
    text-align: left;
    margin: 0;
  }
  .vocal-points-card-one .text-block p{
    font-size: 15px;
    text-align: left;
    margin-left: 5px;
  }
  .vocal-points-card-two{
    height: 40%;
    width: 90%;
    flex-direction: row-reverse;
    align-items: center;
    
    margin-top: 30px;
    
  }
  .vocal-points-card-two .img2{
    height:100%;
    width: 60%;
    background-size: contain;
  }
  .vocal-points-card-two .text-block{
    height: 100%;
    width: 50%;
    
    flex-direction: column;
    align-items: start;
  }
  .vocal-points-card-two .text-block h2{
    font-size: 25px;
    text-align: left;
    margin: 0;
  }
  .vocal-points-card-two .text-block p{
    font-size: 15px;
    text-align: left;
    
  }
  #vocalPointsTwo{
    height: 80vh;
   
  }
  #vocalPointsTwo .vocal-points-card-one{
    height: 50%;
    width: 90%;
    flex-direction: row;   
    margin-top: 30px;
    
  }
  #vocalPointsTwo .vocal-points-card-two{
    height: 50%;
    width: 90%;
    flex-direction: row-reverse;   
    margin-top: 30px;
    
  
  }
  #vocalPointsTwo .vocal-points-card-one .img3{
    height:100%;
    width: 50%;
    background-size: contain;
  }
  #vocalPointsTwo .vocal-points-card-two .img4{
    height:100%;
    width: 50%;
    background-size: contain;
  }
  #vocalPointsTwo .vocal-points-card-one .text-block h2{
    font-size: 25px;
    text-align: left;
    margin-left: 5px;
    width: 100%;
  }
  #vocalPointsTwo .vocal-points-card-two .text-block p{
    font-size: 15px;
    text-align: left;
    width: 100%;
    
  }
  .footer{
    position: static;
    bottom: 0;
    width: 100%;
    color: var(--font-color-one);
  }
  #error .errorPageBlock{

    margin-top: 12.5%;
  
  }
  
}

/* Larger Screen 1024px  */
@media(min-width:1024px){
  .banner-home{
    flex-direction: row-reverse;
  }
  .banner-home .banner-home-image-block{
    height: 90%;
    width: 50%;
    /* background-color: #2e68aa; */
  }
  .banner-home .banner-home-image-block .banner-image{
   background-size: contain;
   height: 90%;
    width: 90%;
   
  }
  
  .banner-home .home-banner-text{
    height: 90%;
    width: 50%;
    /* background-color: #4E9DD7; */
    justify-content: center;
    align-items: start;
    
  }
  .home-banner-text h1{
    font-size: 1.62rem;
    text-align: left;
    margin-left: 20px;
  }
  .home-banner-text p{
    font-size: 1rem;
    text-align: left;
    margin-left: 20px;
  }
  .startLearningBtn{
    margin-left: 20px;
  }
  #home h3{
    color: var(--font-color-two);
    margin-bottom: 15px;
  }
  .game-Block{
    height: 20%;
    width: 90%;
 
  }
  .game-Block .card{
    height: 150px;
    width: 150px;
  }
 
  #talkingPoints .talkingPoints-banner .talkingPoints-text h2{
    font-size: 30px;
    width: 100%;
    margin-left: 20px;
  }
  #talkingPoints .talkingPoints-banner .img-block{
    height: 350px;
  }  
  #talkingPoints h3{
    font-size: 1.4rem;
  }
  #talkingPoints .talkingPoints-cards{
    height: 50%;
    width: 100%;
    margin-top: 20px;
  }
  #talkingPoints .talkingPoints-cards .talkingPoints-card{
    height: 100%;
    width: 30%;
    margin-left: 10px;
    margin-right: 10px;
    
  }
  #talkingPoints .talkingPoints-cards .talkingPoints-card .talkingPoint-image{
    height: 150px;
    width: 150px;
  }
  #talkingPoints .talkingPoints-cards .talkingPoints-card p{
    font-size: .8rem;
  }
  #vocalPointsOne{
    height: 100vh;
    
  }
  .vocal-points-card-one{
    height:45%;   
    width: 90%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .vocal-points-card-one .img1{
    height:100%;
    width: 60%;
    background-size: contain;
  }
  .vocal-points-card-one .text-block{
    height: 100%;
    width: 50%;   
    flex-direction: column;
    align-items: start;
  }
  .vocal-points-card-one .text-block h2{
    font-size: 1.8rem;
    text-align: left;
  }
  .vocal-points-card-one .text-block p{
    font-size: 1rem;
    text-align: left;
    margin-left: 0;
    margin-top: 20px;
  }
  .vocal-points-card-two{
    height: 45%;
    width: 90%;
    flex-direction: row-reverse;   
    padding-left: 20px;
    padding-right: 20px;

  }
  .vocal-points-card-two .img2{
    height:100%;
    width: 60%;
    background-size: contain;
  }
  .vocal-points-card-two .text-block{
    height: 100%;
    width: 50%;
    flex-direction: column;
  }
  .vocal-points-card-two .text-block h2{
    font-size: 1.8rem;
    text-align: left;
  }
  .vocal-points-card-two .text-block p{
    font-size: 1rem;
    text-align: left;
    margin-left: 0;
    margin-top: 20px;
  }
  #vocalPointsTwo{
    height: 100vh;
    
  }
  #vocalPointsTwo .vocal-points-card-one{
    height: 45%;
    width: 90%;
    flex-direction: row;   
    padding-left: 20px;
    padding-right: 20px;
    
  }
  #vocalPointsTwo .vocal-points-card-two{
    height: 45%;
    width: 90%;
    flex-direction: row-reverse;   
    padding-left: 20px;
    padding-right: 20px;

  }
  #vocalPointsTwo .vocal-points-card-one .img3{
    height:100%;
    width: 60%;
    background-size: contain;
  }
  #vocalPointsTwo .vocal-points-card-two .img4{
    height:100%;
    width: 60%;
    background-size: contain;
  }
  #vocalPointsTwo .vocal-points-card-one .text-block h2{
    font-size: 1.8rem;
    text-align: left;
    
  
  }
  #vocalPointsTwo .vocal-points-card-one .text-block p{
    font-size: 1rem;
    text-align: left;
    margin-top: 20px;
    margin-left: 5px;
  }
  #vocalPointsTwo .vocal-points-card-two .text-block p{
    font-size: 1rem;
    text-align: left;  
    margin-top: 20px;
  }


  
  .sitemap-contents{
    flex-direction: row;
    justify-content: center;  
    align-content: center;
    
  }
  #error .errorPageBlock{

    margin-top: 12.5%;
  
  }
}




@media(min-width:1440px){
  #home{
    height: 100vh;
    
  }
  .banner-home{
    width:95%;
    height: 80vh;
  }
  .banner-home .banner-home-image-block{
    height: 90%;
    width: 60%;
    /* background-color: #2e68aa; */
  }

.home-banner-text{
  margin-left: 50px;
}
  .banner-home .home-banner-text h1{
    font-size: 2.25rem;
    text-align: left;
  
  }
  .banner-home .home-banner-text p{
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 20px;    
    font-weight: 400;
  }
  #home h3{
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  .game-Block{
    height: 30%;
    width: 90%;
  }
  .game-Block .card{
    height: 200px;
    width: 200px;
  }

  #talkingPoints{
    height: 100vh;
   
  }
  #talkingPoints .talkingPoints-banner{
    height: 50%;
    flex-direction: row;
    margin-top: 25px;
    
  }
  #talkingPoints .talkingPoints-banner .talkingPoints-text h2{
    font-size: 2.2rem;
    width: 100%;
    font-weight: 500;
  }
  #talkingPoints .talkingPoints-banner .img-block{
    height: 400px;
  }
  
#talkingPoints h3{
  font-size: 1.4rem;
  margin-top: 10px;
  margin-bottom: 0px;
  color: #000;
  
}
#talkingPoints .getStarted{
  font-size: 1.4rem;
  height: 50px;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 40px;
}
#learningPoints{
  height: 100vh;  
  justify-content: center;
}
.hero{
  height: 90%;
  width: 90%;
  background-size: contain;
  margin-top: 40px;
}
#vocalPointsOne{
  height: 100vh;
  
  
}
.vocal-points-card-one{
  height: 50%;
  width: 90%;
  flex-direction: row;   
  padding-left: 20px;
  padding-right: 20px;
 
}
.vocal-points-card-one .img1{
  height:100%;
  width: 50%;
  background-size: contain;
}
.vocal-points-card-one .text-block{
  height: 100%;
  width: 50%;   
  padding-left: 20px;
  padding-right: 20px;
 
}
.vocal-points-card-one .text-block h2{
  font-size: 2.2rem;
  text-align: left;
}
.vocal-points-card-one .text-block p{
  font-size: 1.2rem;
  text-align: left;
 
}
.vocal-points-card-two{
  height: 50%;
  width: 90%;
  flex-direction: row-reverse;     
  
}
.vocal-points-card-two .img2{
  height:100%;
  width: 50%;
  background-size: contain;
}
.vocal-points-card-two .text-block{
  height: 100%;
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
}
.vocal-points-card-two .text-block h2{
  font-size: 2.2rem;
  text-align: left;
}
.vocal-points-card-two .text-block p{
  font-size: 1.2rem;
  text-align: left;
}
#vocalPointsTwo{
  height: 100vh;
}
#vocalPointsTwo .vocal-points-card-one{
  height: 50%;
  width: 90%;
  flex-direction: row;   

 
}
#vocalPointsTwo .vocal-points-card-two{
  height: 50%;
  width: 90%;
  flex-direction: row-reverse;   
 
}
#vocalPointsTwo .vocal-points-card-one .img3{
  height:100%;
  width: 50%;
  background-size: contain;
}
#vocalPointsTwo .vocal-points-card-two .img4{
  height:100%;
  width: 50%;
  background-size: contain;
}
#vocalPointsTwo .vocal-points-card-one .text-block{
    
  padding-left: 20px;
  padding-right: 20px;
}
#vocalPointsTwo .vocal-points-card-two .text-block{
    
  padding-left: 20px;
  padding-right: 20px;
}
#vocalPointsTwo .vocal-points-card-one .text-block h2{
  font-size: 2.2rem;
  text-align: left;
}
#vocalPointsTwo .vocal-points-card-one .text-block p{
  font-size: 1.2rem;
  text-align: left;
}
#vocalPointsTwo .vocal-points-card-two .text-block p{
  font-size: 1.2rem;
  text-align: left;
}
#error .errorPageBlock{
  height: 100vh;
  margin-top: 5%;

}
#error .img-block-error{
  height: 70%;
}


}

@media(min-width:1920px){
  #home{
    height: 100vh;
    
  }
  
  #talkingPoints{
    height: 100vh;
   
  }
  .talkingPoints-banner{
    height: 40vh;

  }
 #talkingPoints h3{
    font-size: 2rem;
    width: 100%;
    font-weight: 500;
    margin-top: 30px;
 }
#talkingPoints .getStarted{
  font-size: 1.6rem;
  height: 60px;
  width: 400px;
  margin-top: 30px;
  margin-bottom: 40px;
}
.talkingPoints-cards .talkingPoints-card h4{
  font-size: 1.6rem;
}
.talkingPoints-cards .talkingPoints-card p{
  font-size: 1.2rem;
}
#talkingPoints .getStarted{
  font-size: 1.5rem;
  height: 60px;
  width: 400px;
  margin-top: 30px;
  margin-bottom: 40px;
  
}
#error .errorPageBlock{
  height: 100vh;
  margin-top: 5%;

}
#error .img-block-error{
  height: 90%;
}


}