:root {
  --banner-color-one: #4E9DD7;
  --banner-color-two: #6B41A1;
  --off-white: #E2E2E2;
  --font-color-one: #fff;
  --font-color-two: #000;
  --header-font-size: 2rem;
  --header-font-size-alt: 1.75rem;
  --paragraph-text: .8rem;
  --rounded-edge: 10px;
  --rounded-edge-alt: 5px;
}

@font-face {
  font-family: 'Araboto';
  src: url("../fonts/Araboto-Normal-400.ttf");
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.ttf");
}

/* screen size max-width 375px */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  min-height: 100vh;
  width: 100%;
  scroll-snap-type: x mandatory;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

h4,
h5,
h6,
p {
  font-family: 'Araboto', sans-serif;
}


section {
  height: 100vh;
  width: 100%;
}

#parentsHome {
  height: 100vh;
}

.container-fluid {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.pHome-banner {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  background-color: var(--banner-color-two);
}

.img-block {
  height: 60%;
  width: 100%;
  background-image: url("../images/boyReading.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.pHome-banner .banner-text {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0;

}

.pHome-banner .banner-text h1 {
  font-size: 1.5rem;
  color: var(--font-color-one);
  text-align: center;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.pHome-banner .banner-text p {
  font-size: 1rem;
  color: var(--font-color-one);
  text-align: center;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 400;
}

.startLearning {
  height: 4vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  background-color: var(--banner-color-one);
  border-radius: var(--rounded-edge);
  cursor: pointer;
  text-decoration: none;
  color: var(--font-color-one);
  font-size: 1rem;
  font-weight: 400;
}

#parentsHome h2 {
  margin-top: 20px;
  font-weight: 500;
  font-size: 1.7rem;
}

#parentsHome p {
  margin-top: 10px;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
}

/* section 2 */
#parentsTalkingPoints {
  height: 132vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;



}

#parentsTalkingPoints h2 {
  margin-top: 10px;
}

#parentsTalkingPoints .accordian-cards {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;

}

#parentsTalkingPoints .wrapper {
  display: none;
}

#parentsTalkingPoints .accordian-cards .accordian-card {
  height: 350px;
  width: 90%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-color: var(--off-white);
  margin-top: 10px;
  border-radius: var(--rounded-edge);
}

.accordian-textBlock {
  height: 30%;
  width: 100%;
  text-align: center;
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.accordian-textBlock h4{
  color: var(--font-color-two);
  font-size: 1.5rem;
}
.accordian-textBlock p{
  color: var(--font-color-two);
  font-size: 1rem;
}

.accordian-img-block1 {
  height: 50%;
  width: 100%;
  background-image: url("../images/Octopus.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: 10px;

}

.accordian-img-block2 {
  height: 50%;
  width: 100%;
  background-image: url("../images/booksOne.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: 10px;


}

.accordian-img-block3 {
  height: 50%;
  width: 100%;
  background-image: url("../images/parentAndChild.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: 10px;

}

.buttons-holder {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 0;
  margin-bottom: 20px;
}

.buttons-holder button {
  height: 40px;
  width: 40%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;

}

.buttons-holder #seeBooks {
  background-color: transparent;
  color: var(--banner-color-two);
}

.buttons-holder #seeGames {
  background-color: var(--banner-color-two);
  color: var(--font-color-one)
}

/* section 3 */
#parentsControl {
  height: 110vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin-top: 0;
  position: relative;
}

#parentsControl .waveOne {
  height: 100px;
  width: 100%;
  background-image: url("../images/wave.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 0;
  transform: rotate(180deg);

}

.plainBlock {
  height: 150px;
  width: 100%;
  background-color: #0099ff;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;


}

.plainBlock .text {
  margin-top: 20px;
}

.plainBlock .text h3 {
  color: var(--font-color-one);
  font-size: 2rem;
  font-weight: 500;

}

.plainBlock .text p {
  color: var(--font-color-one);
  font-size: 1rem;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 20px;

}

.parents-control-list {
  width: 100%;
  background-color: var(--off-white);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: var(--rounded-edge);


}

.parents-control-list .control-card {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  border-radius: var(--rounded-edge);
  cursor: pointer;
  transition: all .2s ease-in-out;
  margin-top: 10px
}

.parents-control-list .control-card-img {
  height: 50%;
  width: 100%;
  margin-top: 0;
  border-radius: var(--rounded-edge);


}

.parents-control-list .control-card-img .imgBlock1 {
  background-image: url("../images/create-profile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  border-radius: var(--rounded-edge);
}

.parents-control-list .control-card-img .imgBlock2 {
  background-image: url("../images/progress-tracker.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  border-radius: var(--rounded-edge);
}

.parents-control-list .control-card-img .imgBlock3 {
  background-image: url("../images/rewards.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  border-radius: var(--rounded-edge);
}

.parents-control-list .control-card-img .imgBlock4 {
  background-image: url("../images/reading-tree.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  border-radius: var(--rounded-edge);
}

.parents-control-list .control-card-img .imgBlock5 {
  background-image: url("../images/choose-games.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  border-radius: var(--rounded-edge);
}

.parents-control-list .control-card-img .imgBlock6 {
  background-image: url("../images/join-the-fun.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  border-radius: var(--rounded-edge);
}

.text-block {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;

}

.parents-control-list .text-block h5 {
  color: var(--font-color-two);
  font-size: .91rem;
  font-weight: 600;
  margin-top: 10px;
  text-align: center;
}

.parents-control-list .text-block p {
  color: var(--font-color-two);
  font-size: .65rem;
  font-weight: 500;
  text-align: center;
}

#parentsControl .waveTwo {
  display: block;
  height: 100px;
  width: 100%;
  transform: rotate(180deg);
  margin-bottom: 0;

}

/* section 4 */
#rewards {
  height: 120vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin-top: 0;

}

#rewards .rewarding-Block {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin-top: 20px;
  background-color: var(--banner-color-two);

}

#rewards .rewarding-Block .text-block {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

#rewards .rewarding-Block .text-block h2 {
  color: var(--font-color-one);
  font-size: 1.5rem;
  font-weight: 500;
}

.accordian-cards-two {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin-top: 0;
}

#rewards .wrapperTwo {
  display: none;
}

.accordian-two-card {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-color: var(--off-white);
  margin-top: 10px;
  border-radius: var(--rounded-edge);
}

.accordian-two-img-block1 {
  height: 50%;
  width: 100%;
  background-image: url("../images/dinoOne.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: 10px;

}

.accordian-two-img-block2 {
  height: 50%;
  width: 100%;
  background-image: url("../images/book2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: 10px;

}

.accordian-two-img-block3 {
  height: 50%;
  width: 100%;
  background-image: url("../images/badgeOne.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: 10px;

}

.accordian-two-textBlock {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin-top: 0;

}

.accordian-two-textBlock h4 {
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 10px;
  text-align: center;
}

.accordian-two-textBlock p {
  color: black;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 10px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.full-length-footer{
  height:50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #4E9DD7;

}
.full-length-footer p{
  color: var(--font-color-one);
  font-size: 1rem;
  font-weight: 500;
  margin-top: 10px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

/* Tablet Screen Size */
@media(min-width:768px) {
  body {
    overflow-x: hidden;
  }

  #parentsHome {
    height: 75vh;

  }

  .pHome-banner {
    flex-direction: row-reverse;
    height: 40vh;
    width: 100%;
    border-radius: var(--rounded-edge);
    margin-top: 120px;
  }

  .pHome-banner .banner-text {
    height: 100%;
    width: 100%;
    margin-left: 20px;
    align-items: start;
  }

  .pHome-banner .banner-text h1 {
    font-size: 1.25rem;
    text-align: left;
  }

  .pHome-banner .banner-text p .small-text {
    font-size: 50px;
    text-align: left !important;
  }

  .startLearning {
    margin-top: 20px;
    margin-left: 10px;

  }

  #rewards .wrapperTwo {
    display: none;
  }

  .img-block {
    height: 100%;
    width: 100%;
  }

  #parentsTalkingPoints .wrapper {
    display: none;
  }

  #parentsTalkingPoints .accordian-cards .accordian-card {
    flex-direction: row;
    height: 340px;
  }

  #parentsTalkingPoints .accordian-cards .accordian-card .accordian-img-block1 {
    height: 90%;
    margin-left: 10px;
  }

  #parentsTalkingPoints .accordian-cards .accordian-card .accordian-img-block2 {
    height: 90%;
    margin-left: 10px;
  }

  #parentsTalkingPoints .accordian-cards .accordian-card .accordian-img-block3 {
    height: 90%;
    margin-left: 10px;
  }

  .accordian-textBlock {
    text-align: left;
    margin-left: 10px;
    height: 90%;
  }
  .accordian-textBlock h4{
    color: var(--font-color-two);
  }
  .accordian-textBlock p{
    color: var(--font-color-two);
  }
  .buttons-holder {

    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .plainBlock {
    height: 200px;


  }

  #parentsControl {
    height: 110vh;

  }

  #parentsControl .waveOne {
    height: 200px;
    background-image: url("../images/waveyOne.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
    display: block;
    transform: rotate(360deg);
  }

  .parents-control-list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;

  }

  .parents-control-list .control-card {
    height: 240px;
    margin-top: 20px;
    width: 100%;
  }

  #parentsControl .waveTwo {
    display: block;
    height: 100px;
    width: 100%;
    transform: rotate(180deg);
    margin-bottom: 0;

  }

  /* #rewards{
    background-color: #4E9DD7;
  } */
  #rewards .rewarding-Block {
    height: 200px;

  }

  .accordian-cards-two {
    width: 90%;
  }

  .accordian-two-card {
    flex-direction: row;
    height: 250px;
  }

  .accordian-two-textBlock {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .accordian-two-textBlock h4 {
    margin-left: 10px;
    font-size: 1.8rem;
  }

  .accordian-two-textBlock p {
    text-align: left;
  }

  .accordian-two-img-block1 {
    height: 90%;
  }

  .accordian-two-img-block2 {
    height: 90%;
  }

  .accordian-two-img-block3 {
    height: 90%;
  }

}

/* Larger Screen Size 1024px */
@media(min-width:1024px) {
  #parentsHome {
    height: 75vh;

  }

  .pHome-banner {
    height: 50vh;
    width: 100%;
    border-radius: var(--rounded-edge);
    margin-top: 80px;
  }

  .pHome-banner .img-block {
    height: 90%;
    width: 70%;
  }

  .pHome-banner .banner-text {
    height: 100%;
    width: 60%;
    margin-left: 0;
    align-items: start;
    justify-content: center;

  }

  .pHome-banner .banner-text h1 {
    font-size: 1.75rem;
    margin-left: 10px;
  }

  .startLearning {
    margin-left: 20px;
  }

  #parentsHome h2 {
    font-size: 1.5rem;
    margin-top: 10px;
  }

  #parentsHome p {
    font-size: 1rem;
    margin-top: 0;
  }


  #parentsTalkingPoints .accordian-cards {
    display: none;
  }

  #parentsTalkingPoints {
    height: 80vh;
    /* background-color: aqua; */


  }

  #parentsTalkingPoints h2 {
    margin-top: 20px;
  }

  #parentsTalkingPoints .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tab {
    cursor: pointer;
    padding: 10px 20px;
    margin: 0px 2px;
    background: var(--banner-color-one);
    display: inline-block;
    color: #fff;
    border-radius: var(--rounded-edge) var(--rounded-edge) 0px 0px;

  }

  .panels {
    background: #fffffff6;
    min-height: 500px;
    width: 900px;
    /* max-width:500px; */
    /* border-radius:3px; */
    overflow: hidden;
    padding: 20px;
    border-top: 4px solid var(--banner-color-one)
  }

  .panel-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 100%;

  }

  .panel-textBlock {
    height: 500px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
  }

  .panel-textBlock .panel-title {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 10px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    color: var(--font-color-two);

  }

  .panel-textBlock p {
    font-size: 1.24rem;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
    color: var(--font-color-two);
  }

  .panel-textBlock .buttons-holder {
    margin-left: 10px;
    justify-content: flex-end;
  }

  .panel-imgBlock1 {
    height: 450px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../images/Octopus.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 2;

  }

  .panel-imgBlock2 {
    height: 450px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../images/booksOne.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 2;

  }

  .panel-imgBlock3 {
    height: 450px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../images/parentAndChild.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 2;

  }

  .panel {
    display: none;
    animation: fadein .8s;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .panel-title {
    font-size: 1.5em;
    font-weight: bold
  }

  .radio {
    display: none;
  }

  #one:checked~.panels #one-panel,
  #two:checked~.panels #two-panel,
  #three:checked~.panels #three-panel {
    display: block
  }

  #one:checked~.tabs #one-tab,
  #two:checked~.tabs #two-tab,
  #three:checked~.tabs #three-tab {
    background: #fffffff6;
    color: var(--banner-color-one);
    font-weight: 400;
    font-size: 1rem;
    border-top: 3px solid var(--banner-color-one);
    border-right: 3px solid var(--banner-color-one);
    border-left: 3px solid var(--banner-color-one);
  }

  #parentsControl {
    height: 100vh;
  }

  #parentsControl .plainBlock {
    height: 200px;
  }

  #parentsControl .waveOne {
    display: none;
  }

  .parents-control-list {
    height: 100%;
    width: 90%;
  }

  .parents-control-list .control-card {
    height: 325px;
    width: 100%;
    /* background-color: #6B41A1; */
  }

  .parents-control-list .control-card .text-block h5 {

    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 10px;
    text-align: center;

  }

  .parents-control-list .control-card .text-block p {

    font-size: .81rem;
    font-weight: 400;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
  }

  .parents-control-list .control-card .control-card-img {
    height: 60%;
    width: 100%;
    background-color: #4E9DD7;
  }

  .parents-control-list .control-card .control-card-img .imgBlock1 {
    background-size: contain;
  }

  .parents-control-list .control-card .control-card-img .imgBlock2 {
    background-size: contain;
  }

  .parents-control-list .control-card .control-card-img .imgBlock3 {
    background-size: contain;
  }

  .parents-control-list .control-card .control-card-img .imgBlock4 {
    background-size: contain;
  }

  .parents-control-list .control-card .control-card-img .imgBlock5 {
    background-size: contain;
  }

  .parents-control-list .control-card .control-card-img .imgBlock6 {
    background-size: contain;
  }


  .waveTwo img {
    display: none;
  }

  #rewards {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;

  }

  .accordian-cards-two {
    display: none;
  }

  #rewards .wrapperTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #753535; */
    margin-top: 20px;
  }

  #rewards .tab {
    cursor: pointer;
    padding: 10px 20px;
    margin: 0px 2px;
    background: var(--banner-color-one);
    display: inline-block;
    color: #fff;
    border-radius: var(--rounded-edge) var(--rounded-edge) 0px 0px;

  }

  #rewards .panelsTwo {
    background: #fffffff6;
    min-height: 500px;
    width: 900px;
    /* max-width:500px; */
    /* border-radius:3px; */
    overflow: hidden;
    padding: 20px;
    border-top: 4px solid var(--banner-color-one)
  }

  #rewards .panel-block-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 100%;

  }

  #rewards .panel-two-textBlock {
    height: 500px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
  }

  #rewards .panel-two-textBlock .panel-title {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 10px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    color: var(--font-color-two);
  }

  #rewards .panel-two-textBlock p {
    font-size: 1.24rem;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
    color: var(--font-color-two);
  }

  #rewards .panel-two-textBlock .buttons-holder {
    margin-left: 10px;
    justify-content: flex-end;
  }

  #rewards .panel-imgBlock4 {
    height: 450px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../images/dinoOne.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 2;

  }

  #rewards .panel-imgBlock5 {
    height: 450px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../images/bookOne.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 2;

  }

  #rewards .panel-imgBlock6 {
    height: 450px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../images/gift.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 2;

  }

  #rewards .panel-two {
    display: none;
    animation: fadein .8s;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  #rewards .panel-title {
    font-size: 1.5em;
    font-weight: bold
  }

  #rewards .radio {
    display: none;
  }

  #four:checked~.panelsTwo #four-panel,
  #five:checked~.panelsTwo #five-panel,
  #six:checked~.panelsTwo #six-panel {
    display: block
  }

  #four:checked~.tabs #four-tab,
  #five:checked~.tabs #five-tab,
  #six:checked~.tabs #six-tab {
    background: #fffffff6;
    color: var(--banner-color-one);
    font-weight: 400;
    font-size: 1rem;
    border-top: 3px solid var(--banner-color-one);
    border-right: 3px solid var(--banner-color-one);
    border-left: 3px solid var(--banner-color-one);
  }
}

/* Larger Screen Size 1440px */
@media(min-width:1440px) {
  #parentsHome {
    height: 70vh;
    /* background-color: #c98f8f; */
  }

  .pHome-banner {
    height: 40vh;
    width: 90%;
    margin-top: 100px;

  }

  .pHome-banner .img-block {
    height: 100%;
    width: 50%;
  }

  .pHome-banner .banner-text h1 {
    font-size: 2.4rem;
    margin-left: 15px;
  }

  .pHome-banner .banner-text .startLearning {
    margin-left: 20px;
    height: 60px;
    font-size: 1.5rem;
  }

  #parentsHome h2 {
    font-size: 2.5rem;
    margin-top: 20px;
    font-weight: 500;
  }

  #parentsHome p {
    font-size: 1.4rem;
    margin-top: 10px;
    font-weight: 500;
  }

  #parentsTalkingPoints {
    height: 80vh;

  }

  #parentsTalkingPoints h2 {
    font-size: 2.5rem;
    margin-top: 10px;
    font-weight: 500;
  }

  .wrapper {
    /* background-color: #e9aaaa; */
    height: 70vh;
    width: 90%;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .panels {
    height: 90%;
    width: 100%;
  }

  .panel-block {
    height: 100%;
    width: 100%;
    margin-top: 50px;

  }

  .panel-textBlock {
    height: 100%;
    width: 50%;
    margin-left: 50px;
  }

  .panel-textBlock .panel-title {
    font-size: 2.75rem;
  }

  .panel-textBlock p {
    font-size: 1.5rem;
  }

  .panel-imgBlock1 {
    margin-right: 50px
  }

  .panel-imgBlock2 {
    margin-right: 50px
  }

  .panel-imgBlock3 {
    margin-right: 50px
  }

  .buttons-holder {
    height: 100px;
    /* background-color: red; */
  }

  .buttons-holder button {
    height: 60px;
    width: 200px;
    font-size: 1.25rem;
  }

  #rewards {
    height: 100vh;
    width: 100%;
    /* background-color: #d5bbf8; */
  }

  .wrapper {
    /* background-color: #e9aaaa; */
    height: 70vh;
    width: 90%;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .panelsTwo {
    height: 90%;
    width: 100%;
  }

  .panel-block-two {
    height: 100%;
    width: 100%;
    margin-top: 50px;

  }

  .panel-two-textBlock {
    height: 100%;
    width: 50%;
    margin-left: 50px;
  }

  .panel-two-textBlock .panel-title {
    font-size: 2.75rem;
  }

  .panel-two-textBlock p {
    font-size: 1.5rem;
  }

  .panel-imgBlock4 {
    margin-right: 50px
  }

  .panel-imgBlock5 {
    margin-right: 50px
  }

  .panel-imgBlock6 {
    margin-right: 50px
  }



}

/* Larger Screen Size 1920px */
@media(min-width:1920px) {
  #parentsHome {
    height: 100vh;
  }

  .pHome-banner {
    height: 75vh;
  }

  .pHome-banner .img-block {
    height: 90%;
    width: 50%;
    margin-left: 50px;
  }
  .pHome-banner .banner-text {
    margin-left:50px;
  }

  .pHome-banner .banner-text h1 {
    font-size: 2.8rem;
 
  }

  .pHome-banner .banner-text .startLearning {
    margin-top: 50px;
    margin-left: 20px;
  }

  .panels{
    width: 80%;
  }
  .panel-textBlock{
    margin-left:70px;
  }
  .panel-textBlock .panel-title {
    color:#000;

  }
  .panel-textBlock p{
    color:var(--font-color-two); 
   }
    .panel-imgBlock1{
      margin-right:50px;
    }
.panel-imgBlock2{
      margin-right:50px;
    }
.panel-imgBlock3{
      margin-right:50px;
    }
    .buttons-holder{
      margin-left:100px;
    }
    .buttons-holder #seeBooks{
      color:var(--banner-color-two);
    }
    .buttons-holder #seeGames{
      color:var(--font-color-one);
    }
    .panelsTwo{
      width: 80%;
    }
    .panelsTwo .panel-block-two .panel-title{
      color:var(--font-color-two);  
    }
    .panelsTwo .panel-block-two p{
      color:var(--font-color-two);  
    }

}