#details{
    height: 100vh;
    width: 100%;
    /* background-color: #ffb2b2; */
}
#details .container-fluid{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#details h1{
    font-size: 3rem;
    font-weight: 700;
    color: var(--banner-color-one);
    text-align: center;
    margin-bottom: 2rem;

}
.account-wrapper{
    /* background-color: green; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.form-group label{
    font-size: 1.15rem;
    font-weight: 700;
    color: var(--banner-color-one);
    margin-top: 10px;
    margin-bottom: 10px;

}

#submitBtn{
    background-color: var(--banner-color-one);
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
}
.reasons-why{
    display: none;
}

.sign-up-block{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 10px;
    
}
.sign-up-block h2{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--banner-color-one);
    margin-bottom: 10px;
    margin-top: 10px;
}

.sign-up-block a{
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--banner-color-one);    
    text-decoration: none;
    cursor: pointer;
}
.error{
    color: red;
    font-size: .75rem;
}
.success{
    color: green;
    font-size: 1.25rem;
}

@media(min-width:768px){
    .account-wrapper{
        /* background-color: green; */
        width: 100%;
        margin-top:40px;
    }
    form{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .form-group{
        width: 70%;
        /* background-color: red; */
    }
    #submitBtn{
        width: 70%;
    }
    .form-group label{
        font-size: 1.5rem;
       
    }
.error{
        color: red;
        font-size: .9rem;
    }
    .success{
        color: green;
        font-size: 1.25rem;
    }

}
@media(min-width:1024px){
    .account-wrapper{
        flex-direction: row;
        justify-content: start;
    }
    form{
        width: 60%;
    }
    form h1{
        margin-top: 20px;

    }
    .reasonsToSignIn{
        width: 50%;
        height: 50vh;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 10px;
        background-color: var(--banner-color-one);
    }
    .reasonsToSignIn h2{
        font-size: 2rem;
        font-weight: 700;
        color: white;
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: center;
    }
    .reasonsToSignIn ul{
        list-style: disc;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
      
        
      
    }
    .reasonsToSignIn ul li{
        font-size: 1.5rem;
        margin-top: 10px;
        margin-bottom: 10px;
        color: white;
        font-weight: 400;
        margin-left:40px;
    }
    .error{
        color: red;
        font-size: 1rem;
    }
    .success{
        color: green;
        font-size: 1.25rem;
    }
}

@media(min-width:1440px){
    .reasonsToSignIn h2{
        font-size: 1.75rem;
        margin-left: 22%;
    }
    .reasonsToSignIn ul{
        width: 100%;
        margin-top: 30px;
        /* background-color: #fff; */
    }
    .reasonsToSignIn ul li{
        margin-left: 10%;
        margin-top: 15px;

    }
     .error{
        color: red;
        font-size: 1.15rem;
    }
    .success{
        color: green;
        font-size: 1.25rem;
    }
}

@media(min-width:1920px){
   .reasonsToSignIn {
        width: 40%;
        height: 50vh;
   }
    .reasonsToSignIn h2{
          font-size: 2.5rem;
          margin-left: 15%;

   }
    .reasonsToSignIn ul li{
        font-size: 1.75rem;
        margin-left: 15%;
    }
    
   
   .error{
        color: red;
        font-size: 1.25rem;
   
      
    }
    .success{
        color: green;
        font-size: 1.25rem;
    }
}